@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2em; /* or 32px typically */
  font-weight: bold; /* or 700 */
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em; /* or 24px typically */
  font-weight: bold; /* or 700 */
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em; /* or 18.8px typically */
  font-weight: bold; /* or 700 */
  margin: 1em 0;
}

h4 {
  font-size: 1em; /* or 16px, which is the base font-size for most browsers */
  font-weight: bold; /* or 700 */
  margin: 1.33em 0;
}

.landing-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-content: start;
}
.landing-page-sidebar {
  grid-row: span 2;
}
.landing-page-body {
  display: grid;
  gap:rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: start;
  justify-items: start;
}
.skill-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  align-items: center;
  justify-items: center;
}
.skills-icon {
  cursor: pointer;
}

.skills-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  max-height: 150px; 
  overflow-y: auto;
}

.skills-icon:hover + .skills-list {
  display: block;
}
.relative:hover .skills-list {
  display: block;
}