@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-content: start;
}
.landing-page-sidebar {
  grid-row: span 2;
}
.landing-page-body {
  display: grid;
  gap:rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: start;
  justify-items: start;
}
.skill-area {
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  align-items: start;
  justify-items: start;
}
.skills-icon {
  cursor: pointer;
}

.skills-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.skills-icon:hover + .skills-list {
  display: block;
}